/* FOLHA DE ESTILO SEVEN TALKS
-------------------------------------------------- */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

  /* NAV
-------------------------------------------------- */

#sevennav{


font-family: Monument Extended;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #8B09FF;
margin: auto;
}
  
  

  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    color: #2B04E8;
  }
  .featurette-heading1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FF4409;
    
  }
  .textobtn{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;

color: #898989;
  }
  .img-fluid-desk{
    display: block;
  }
  .img-fluid-mobile{
    display: none;
  }
  .img_rec_r{
    position: absolute;
width: 100%;
height: 250px;
left: 0px;
margin-top: 25px;
background: #E2D0F2;
  }
  .img_rec_a{
    position: absolute;
width: 100%;
height: 250px;
left: 0px;
margin-top: 25px;

background: #BBDAFF;
  }
  
  /* CSS RESPONSIVO
  -------------------------------------------------- */
  
  @media (max-width: 1000px) {
    /* imagem responsiva*/
    .img-fluid-desk{
      display: none;
    }
    .img-fluid-mobile{
      display: block;
    }
  }

  @media (max-width: 1000px) {
    /* imagem responsiva fundo dos palestrantes*/
    .img_rec_r{
      position: absolute;
      width: 100%;
      height: 80%;
      left: 0;
      margin-top: 20px;
      background: #E2D0F2;
     

    }
    .img_rec_a{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      margin-top: 20px;
  background: #BBDAFF;
 
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  .contagem{
    width:300px;
    height:70px;
    background-color: #ffffff;
    margin: auto;
    }
    
  .dia1{

    margin: auto;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */

text-align: center;

color: #8B09FF;
    }
    .dia2{
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      /* identical to box height */
      
      text-align: center;
      
      color: #4A40FF;
      margin: auto;
      }
    
    .numero
    {
    
    width: 66px;
    background-color: #ffffff;
    color: #8B09FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
    text-align: center;
    padding: 5px;
    border: 1px solid #8F8F8F;
    box-sizing: border-box;
    border-radius: 5px;
    }
    
    .legenda{
    height: 25px;
    line-height: 10px;
    font-size:12px;
    background-color: #ffffff;
    text-align: center;
    }

    .faltam{
     
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #2B04E8;
    }


    .informativo{
      

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;
    }

#topo{
  color:#8B09FF;
  font-family: Roboto;
font-style: normal;
font-weight: normal;

}

.nomePalestrante{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #000000;

}
.bioPalestrante{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  
  color: #000000;
}
    

.textoLoren{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;
}
.invi{
  display: none;
}

.btnLinkedinRoxo{
  background-image: url(../img/linkedin.png);
}
* {
  box-sizing: border-box;
}

#popup {
  display: none;
}

.popup__wrapper {
  background: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup__container {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 100px auto;
  max-width: 100%;
  padding: 100px;
  width: 500px;
}

.popup__title {
  font-size: 26px;
  margin-bottom: 15px;
}

.redes_sociais{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 45px;
text-align: center;

}
